<div class="post">
	<% if user_signed_in? %>
		<% if current_user.voted?(post) %>
			<div class='voted arrow' id='posts_<%= post.id.to_s %>'>
		<% else %>
			<div class='vote arrow' id='posts_<%= post.id.to_s %>'>
		<% end %>
			<%= link_to "&#9650;".html_safe, "#", :onClick => "vote_up("+post.id.to_s+", 'posts'); return false" %>
	<% else %>
		<div class='vote arrow'>
		<%= link_to "&#9650;".html_safe, new_user_session_path %>
	<% end %>
	</div>
	<div class='text_body'>
		<strong><%= (post.link.nil? or post.link.empty?) ? (link_to(post.title, post)) : (link_to(post.title, post.link)) %></strong>
		<% unless post.link.nil? or post.link.empty? %>
			<span class='host'><%= link_to("("+URI.parse(post.link).host.gsub("www.","")+")", "http://"+URI.parse(post.link).host) %> </span>
		<% end %>	
		<p class="markup"><%= markdown(post.text) %></p>
		<div class='infobar'><%= pluralize(post.votes, "point") %> by <%= (post.user.nil? ? "[Deleted]" : post.user.name) %> <%= time_ago_in_words(post.created_at) %> ago | <%= link_to(pluralize(comment_count(post), "comment"), post) %>
		<% if can? :update, post %>
			<%= link_to 'Edit', edit_post_path(post) %>
		<% end %>
		</div>
		<% if can? :create, Comment %>
			<div id="comment_form" class="comment_form" style="clear: left; margin-left: 0px;">
				<%= render :partial => 'comments/form', :locals => { :commentable_type => "Post", :commentable_id => post.id } %>
			</div>
		<% end %>
	</div>
</div>
