<h2>Hackful Europe</h2>
A place for European entrepreneurs to share demos, stories or ask questions.<br /><br />
developed by <%= link_to "@8bitpal", "https://twitter.com/8bitpal" %><br />
idea by <%= link_to "@rayhanrafiq", "https://twitter.com/rayhanrafiq" %> and <%= link_to "@mattslight", "https://twitter.com/mattslight" %><br />
hosting donated by <%= link_to "incite ict", "http://www.incite-ict.com/" %><br /><br />

Born out of the mailing list of a group called Open Coffee London, an <br />
amazing community of entrepreneurs helping each other everyday. <br /><br />

We saw how open HackerNews is and thought we should give our European <br />
community more chance to flourish.<br /><br />

Our next steps include
	<ul>
		<li><strong>Local Event Calendars</strong><br />Both local and major European events, localised based on user settings.</li>
		<li><strong>Local Angel Directories</strong><br />Localised based on user settings.</li>
		<li><strong>More sharing, subscription and data exchange options</strong><br />Opt-in digest emails, JSON API and more.</li>
	</ul>
	<br />
The source code for this platform is available on <%= link_to "Github", "https://github.com/8bitpal/hackful" %>.<br />
Contributions, bug reports and reasonable feature requests are welcome.
	<br />	<br />
