<h2>Notifications</h2>
<% @new_notifications.each do |notification| %>
	<div class="notification new">
		<h2><%= notification.alertable.user.name %> replied to your <%= notification.alerted.class.name %></h2>
		<%= render :partial => "comments/show", :locals => { comment: notification.alertable } %>
	</div>
<% end %>
<% @old_notifications.each do |notification| %>
	<div class="notification">
		<h2><%= notification.alertable.user.name %> replied to your <%= notification.alerted.class.name %></h2>
		<%= render :partial => "comments/show", :locals => { comment: notification.alertable } %>
	</div>
<% end %>
<% @new_notifications.update_all(:unread => false) %>
