<!DOCTYPE html>
<html>
<head>
  <title>Hackful Europe</title>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<div class="header">
	<span class="title"><img src="/assets/hackful.png" /><%= link_to "Hackful Europe", "/" %></span>
	<span class="navigation"><%= link_to "top", "/" %> | <%= link_to "new", "/new" %> | <%= link_to "submit", "/posts/new" %></span>
	<span class="user">
		<% if user_signed_in? %>
			<%= link_to "&#9998;".html_safe, "/users/edit"%>&nbsp;<%= current_user.name %>&nbsp;&nbsp;<%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
		<% else %>
			<%= link_to('Sign in', new_user_session_path)  %>
		<% end %>
	</span>
</div>
<div class="body">
	<%= yield %>
</div>
<div class="footer">
	<%= link_to "About", "/about" %>
	<span style="float:right; padding-right: 10px; font-size: 8pt;"><%= User.all.count %> users</span>
</div>
</body>
</html>
